.Header {
    text-transform: uppercase;
    background-color: white;
    font-size: 4em;
    width: 50vw;
    border: solid .5em black;
    border-radius: 3em;
    white-space: nowrap;
    text-align: center;
    margin-bottom: .5em;
    position: sticky;
		top: 0;
   
}


@media screen and (max-width: 1515px){
    .Header {
        font-size: 2.5em;
   
    }
  }
  
  @media screen and (max-width: 1013px){
    .Header {
        font-size: 1.5em;
   
    }
  }
  
  @media screen and (max-width: 587px){
    .Header {
        font-size: .75em;
   
    }
  }